/FP02-converterstatemen.java/nbproject/private/
/workshops/FP02_controlstatement/nbproject/private/
/workshops/FP02_controlstatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/workshops/unit1/WS03operators/BasicOperators resta/nbproject/private/
/workshops/unit1/WS03operators/BasicOperationsHomework/nbproject/private/
/workshops/unit1/WS03operators/BasicOperationsHomework/build/
/workshops/unit1/WS02FP02_controlstatement/build/
/workshops/unit1/WS02FP02_controlstatement/nbproject/private/
/workshops/unit1/HOMEWORK/nbproject/private/
/workshops/unit1/HOMEWORK/build/