/FP02-converterstatemen.java/nbproject/private/
/workshops/FP02_controlstatement/nbproject/private/
/workshops/FP02_controlstatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/workshops/unit1/WS03operators/BasicOperators resta/nbproject/private/
/workshops/unit1/WS03operators/BasicOperationsHomework/nbproject/private/
/workshops/unit1/WS03operators/BasicOperationsHomework/build/
/workshops/unit1/WS02FP02_controlstatement/build/
/workshops/unit1/WS02FP02_controlstatement/nbproject/private/
/workshops/unit1/WS02controlstatement/FP02_controlstatement/build/
/workshops/unit1/WS02controlstatement/FP02_controlstatement/nbproject/private/
/assignments/HW02/.HW02/build/
/assignments/HW02/.HW02/nbproject/private/
/assignments/WS04 LogicOperators/nbproject/private/
/assignments/WS04 LogicalOperators/nbproject/private/
/workshops/unit1/WS04 LogicalOperators/nbproject/private/
/workshops/unit1/WS04 LogicalOperators/build/
/workshops/unit1/WS04 LogicalOperators/dist/
/workshops/unit1/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/build/
/workshops/unit1/HW03/nbproject/private/
/workshops/unit1/HW03/build/
/workshops/unit1/WS07/nbproject/private/
/workshops/unit1/WS07/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/assignments/HW04/nbproject/private/
/assignments/HW04/build/
/Test/RamosGabyQ11/nbproject/private/
/Test/RamosGabyQ11/build/
/Test/.RamosGabyQ11/nbproject/private/
/Test/.RamosGabyQ11/build/
/Test/Unit 1/RamosGabyQ11/build/
/Test/Unit 1/RamosGabyQ11/nbproject/private/
/RamosGabyQ11/build/
/RamosGabyQ11/nbproject/private/
/Proyect/GEOCONVERTER/nbproject/private/
/Proyect/GEOCONVERTER/build/
/workshops/unit 2/WS08debugging/nbproject/private/
/workshops/unit 2/WS08debugging/build/
/assignments/unit 2/HW05/nbproject/private/
/assignments/unit 2/HW05/build/
/assignments/unit 2/HW09-EmbeddedStructures/nbproject/private/
/assignments/unit 2/HW09-EmbeddedStructures/build/
/assignments/unit 2/Hw09EmbeddedStructures/build/
/assignments/unit 2/Hw09EmbeddedStructures/nbproject/private/
/workshops/unit 2/WS10Functions/nbproject/private/
/workshops/unit 2/WS10Functions/build/
/assignments/unit 2/HW10Funtions/nbproject/private/
/assignments/unit 2/HW10Funtions/build/
/assignments/unit 2/WS12/nbproject/private/
/assignments/unit 2/WS12/build/
/workshops/unit 2/WS11/refactor/WS11Refactor/nbproject/private/
/workshops/unit 2/WS11/recursion/WS11Recursion/nbproject/private/
/assignments/unit 2/HW11Geoconverter/nbproject/private/
/assignments/unit 2/HW11Geoconverter/build/
/workshops/unit 2/WS11/createFuntions/WS11CreateFuntions/nbproject/private/
/assignments/unit 2/HW12/nbproject/private/
/assignments/unit 2/HW12/build/
/assignments/unit 2/HW12Recursion/nbproject/private/
/assignments/unit 2/HW12Recursion/build/
/workshops/unit 2/WS11/recursion/WS11Recursion/build/
/workshops/unit 2/WS12importLibrary/nbproject/private/
/workshops/unit 2/WS12importLibrary/build/
/assignments/unit 2/HW12Taxes/nbproject/private/
/assignments/unit 2/HW12Taxes/build/
/workshops/unit 2/WS13/nbproject/private/
/workshops/unit 2/WS13/build/
/workshops/unit 2/WS14Arrays/nbproject/private/
/assignments/unit 2/HW13/nbproject/private/
/workshops/unit 2/WS14Arrays/build/
/assignments/unit 2/HW13/build/
/assignments/unit 2/HW14/build/