/FP02-converterstatemen.java/nbproject/private/
/workshops/FP02_controlstatement/nbproject/private/
/workshops/FP02_controlstatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/workshops/unit1/WS03operators/BasicOperators resta/nbproject/private/
/workshops/unit1/WS03operators/BasicOperationsHomework/nbproject/private/
/workshops/unit1/WS03operators/BasicOperationsHomework/build/
/workshops/unit1/WS02FP02_controlstatement/build/
/workshops/unit1/WS02FP02_controlstatement/nbproject/private/
/workshops/unit1/WS02controlstatement/FP02_controlstatement/build/
/workshops/unit1/WS02controlstatement/FP02_controlstatement/nbproject/private/
/assignments/HW02/.HW02/build/
/assignments/HW02/.HW02/nbproject/private/
/assignments/WS04 LogicOperators/nbproject/private/
/assignments/WS04 LogicalOperators/nbproject/private/
/workshops/unit1/WS04 LogicalOperators/nbproject/private/
/workshops/unit1/WS04 LogicalOperators/build/
/workshops/unit1/WS04 LogicalOperators/dist/
/workshops/unit1/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/build/
/workshops/unit1/HW03/nbproject/private/
/workshops/unit1/HW03/build/
/workshops/unit1/WS07/nbproject/private/
/workshops/unit1/WS07/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/assignments/HW04/nbproject/private/
/assignments/HW04/build/
/Test/RamosGabyQ11/nbproject/private/
/Test/RamosGabyQ11/build/
/Test/.RamosGabyQ11/nbproject/private/
/Test/.RamosGabyQ11/build/
/Test/Unit 1/RamosGabyQ11/build/
/Test/Unit 1/RamosGabyQ11/nbproject/private/
/RamosGabyQ11/build/
/RamosGabyQ11/nbproject/private/
/Proyect/GEOCONVERTER/nbproject/private/
/Proyect/GEOCONVERTER/build/
/workshops/unit 2/WS08debugging/nbproject/private/
/workshops/unit 2/WS08debugging/build/
/assignments/unit 2/HW05/nbproject/private/
/assignments/unit 2/HW05/build/
/assignments/unit 2/HW09-EmbeddedStructures/nbproject/private/
/assignments/unit 2/HW09-EmbeddedStructures/build/
/assignments/unit 2/Hw09EmbeddedStructures/build/
/assignments/unit 2/Hw09EmbeddedStructures/nbproject/private/
/workshops/unit 2/WS10Functions/nbproject/private/
/workshops/unit 2/WS10Functions/build/
/assignments/unit 2/HW10Funtions/nbproject/private/
/assignments/unit 2/HW10Funtions/build/
/assignments/unit 2/WS12/nbproject/private/
/assignments/unit 2/WS12/build/
/workshops/unit 2/WS11/refactor/WS11Refactor/nbproject/private/
/workshops/unit 2/WS11/recursion/WS11Recursion/nbproject/private/
/assignments/unit 2/HW11Geoconverter/nbproject/private/
/assignments/unit 2/HW11Geoconverter/build/
/workshops/unit 2/WS11/createFuntions/WS11CreateFuntions/nbproject/private/
/assignments/unit 2/HW12/nbproject/private/
/assignments/unit 2/HW12/build/
/assignments/unit 2/HW12Recursion/nbproject/private/
/assignments/unit 2/HW12Recursion/build/
/workshops/unit 2/WS11/recursion/WS11Recursion/build/
/workshops/unit 2/WS12importLibrary/nbproject/private/
/workshops/unit 2/WS12importLibrary/build/
/assignments/unit 2/HW12Taxes/nbproject/private/
/assignments/unit 2/HW12Taxes/build/
/workshops/unit 2/WS13/nbproject/private/
/workshops/unit 2/WS13/build/
/workshops/unit 2/WS14Arrays/nbproject/private/
/assignments/unit 2/HW13/nbproject/private/
/workshops/unit 2/WS14Arrays/build/
/assignments/unit 2/HW13/build/
/assignments/unit 2/HW14/build/
/Quiz/22-02-2021-Quiz/nbproject/private/
/Quiz/22-02-2021-Quiz/build/
/workshops/unit 2/WS16MatrixAddition/nbproject/private/
/workshops/unit 2/WS16MatrixAddition/build/
/workshops/unit 2/WS15ArraysQuiz/nbproject/private/
/assignments/unit 2/HW15/nbproject/private/
/assignments/unit 2/HW15/build/
/workshops/unit 2/WS15ArraysQuiz/build/
/workshops/unit 2/WS17MatrixTranspotition/nbproject/private/
/workshops/unit 2/WS17MatrixTranspotition/build/
/assignments/unit 2/HW16MatrixFunction/nbproject/private/
/assignments/unit 2/HW16MatrixFunction/build/
/Test/Unit 2/RamosGQ11/nbproject/private/
/Test/Unit 2/RamosGQ11/build/
/assignments/unit 2/HW17GEOCONVERTER/nbproject/private/
/assignments/unit 2/HW17GEOCONVERTER/build/
/workshops/unit 2/WS19ArraysInspection/nbproject/private/
/workshops/unit 3/WS19ArraysInspection/nbproject/private/
/workshops/unit 3/RodriguezVladimirExamen2/nbproject/private/
/workshops/unit 3/WS19ArraysInspection/RodriguezVladimirExamen2/nbproject/private/
/workshops/unit 3/WS19ArraysInspection/RodriguezVladimirExamen2/build/
/workshops/unit 2/WS10Functions/dist/
/workshops/unit 2/WS13/dist/
/workshops/unit 3/WS21Computers/nbproject/private/
/workshops/unit 3/WS21Computers/build/
/workshops/unit 3/WS21Computers/dist/
/workshops/unit 3/WS22Modularity/nbproject/private/
/workshops/unit 3/WS22Modularity/build/
/workshops/unit 3/WS23Libraries/nbproject/private/
/workshops/unit 3/TaxLibrary/nbproject/private/
/workshops/unit 3/TaxLibrary/build/
/workshops/unit 3/TaxLibrary/dist/
/workshops/unit 3/WS23/TaxLibrary/build/
/workshops/unit 3/WS23/TaxLibrary/dist/
/workshops/unit 3/WS23/TaxLibrary/nbproject/private/
/workshops/unit 3/WS23/WS23Libraries/nbproject/private/
/workshops/unit 3/WS23/TaxDeclarations/nbproject/private/
/workshops/unit 3/WS23/TaxDeclaration/nbproject/private/
/workshops/unit 3/WS23Libraries/TaxDeclaration/nbproject/private/
/workshops/unit 3/WS23Libraries/TaxLibrary/build/
/workshops/unit 3/WS23Libraries/TaxLibrary/dist/
/workshops/unit 3/WS23Libraries/TaxLibrary/nbproject/private/
/workshops/unit 3/WS23Libraries/TaxDeclaration/build/
/assignments/unit 3/HW17MatrixOperation/nbproject/private/
/assignments/unit 3/HW17MatrixOperation/build/
/assignments/unit 3/MatrixLibrary/nbproject/private/
/assignments/unit 3/MatrixLibrary/build/
/assignments/unit 3/MatrixLibrary/dist/
/assignments/unit 3/Sorting/nbproject/private
/workshops/unit 3/WS24/Sorting/build/
/assignments/unit 3/HW18SearchAlgoritms/nbproject/private/
/assignments/unit 3/HW18SearchAlgoritms/build/
/workshops/unit 3/Contact/nbproject/private/
/workshops/unit 3/Cats/nbproject/private/
/workshops/unit 3/Animals/nbproject/private/
/workshops/unit 3/AnimalsBook/nbproject/private/
/workshops/unit 3/Animals/build/
/workshops/unit 3/WS25OperationsWithStrings/Animals/build/
/workshops/unit 3/WS25OperationsWithStrings/Animals/nbproject/private/
/assignments/unit 3/HW19/SearchMethod/nbproject/private/
/assignments/unit 3/HW19/SearchMethod/build/
/assignments/unit 3/HW19/SearchMethod/dist/
/workshops/unit 3/WS24/Sorting_1/nbproject/private/
/workshops/unit 3/WS24/Sorting_1/build/
/assignments/unit 3/HW19/GraphicalArrays/nbproject/private/
/assignments/unit 3/HW19/GraphicalArrays/build/
/assignments/unit 3/HW19/JavaApplication62/nbproject/private/
/assignments/unit 3/HW19/Graphical_Arrays/nbproject/private/
/assignments/unit 3/HW19/Graphical_Arrays/build/